datasets
transformers
sentencepiece
diffusers
invisible_watermark
accellerate
safetensors
jiwer
evaluate
wandb
torch
torchvision
torchtext
matplotlib
numpy
nltk
pandas
pillow
tqdm
scikit-learn
optuna
argparse
requests
huggingface_hub
bs4